{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">Leave List</h2>

{% if not user.is_superuser %}

<a href="/leave/apply/" class="btn btn-success mb-3">

Apply Leave

</a>

{% endif %}

<table class="table table-bordered table-striped table-hover">

<thead class="table-dark">

<tr>

<th>ID</th>
<th>Employee</th>
<th>Leave Type</th>
<th>From</th>
<th>To</th>
<th>Reason</th>
<th>Status</th>

{% if user.is_superuser %}
<th>Action</th>
{% endif %}

</tr>

</thead>

<tbody>

{% for leave in leaves %}

<tr>

<td>{{ leave.id }}</td>
<td>{{ leave.employee }}</td>
<td>{{ leave.leave_type }}</td>
<td>{{ leave.from_date }}</td>
<td>{{ leave.to_date }}</td>
<td>{{ leave.reason }}</td>

<td>

{% if leave.status == 'Approved' %}

<span class="badge bg-success">
Approved
</span>

{% elif leave.status == 'Rejected' %}

<span class="badge bg-danger">
Rejected
</span>

{% else %}

<span class="badge bg-warning text-dark">
Pending
</span>

{% endif %}

</td>

{% if user.is_superuser %}

<td>

<a href="/leave/edit/{{ leave.id }}"
class="btn btn-warning btn-sm">

Edit

</a>

<a href="/leave/delete/{{ leave.id }}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete Leave?')">

Delete

</a>

</td>

{% endif %}

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}